<!DOCTYPE html>
<html>
    <head>
        <html lang="en-us">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../css/reset.css">
        <link rel="stylesheet" type="text/css" href="navbar.css">
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
    </head>
    <body>
        <section id="nav-section">
            <ul class="nav_ul">
                <li class="nav-li-left"><a class="nav-link-left">Jose Zapata</a></li>
                <li class="nav-li-right"><a target="_parent" class="nav-link-right" href="../../../portfolio.html">Portfolio</a></li>
                <li class="nav-li-right"><a target="_parent" class="nav-link-right" href="../../../contact.html">Contact</a></li>
                <li class="nav-li-right"><a target="_parent" class="nav-link-right" href="../../../index.html">About</a></li>
            </ul>
        </section>            
    </body>
</html>